* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.logo {
    width: 120px;
}

.social__item {
    font-size: 28px;
    margin: 10px;
    color: black;
    list-style: none;
}

.social__link {
    text-decoration: none;
}

i {
    color: black;
}

i:hover {
    color: #29ABE2;
}



/* Carts n shopCart */

.item {
    width: 100%;
}

.cart__panel {
    height: 140px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.item__picture {
    width: 70px;
}

.item__img {
    width: 100%;
}

.item__info {
    width: 80%;
}

.price-font {
    font-size: 1.3em;
    font-weight: 500;
}

.item__delete-btn {
    width: 25px;
    height: 25px;
    color: red;
    border-radius: 0px;
    border: 1px solid;
    background-color: white;
    transition: 200ms ease;
}

.cart__total {
    border-bottom: 1px solid lightgray;
}

.buy-btn {
    font-size: 1em;
    color: #295ae2;
    background-color: white;
    padding: 10px 60px;
    border-radius: 0px;
    border: 1px solid;
    transition: 200ms ease;
}

.radius-0 {
    border-radius: 0 !important;
}