* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title__container {
    height: 100px;
    width: 100%;
    background-color: #000824;
}

.h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.5em !important;
}

.item {
    width: 100%;
}

.cart__panel {
    height: 140px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.item__picture {
    width: 70px;
}

.item__img {
    width: 100%;
}

.item__info {
    width: 80%;
}

.price-font {
    font-size: 1.3em;
    font-weight: 500;
}

.item__delete-btn {
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 0px;
    border: 1px solid;
    background-color: white;
}

.cart__total {
    border-bottom: 1px solid lightgray;
}

.buy-btn {
    font-size: 1em;
    background-color: white;
    padding: 10px 60px;
    border-radius: 0px;
    border: none;
}

.radius-0 {
    border-radius: 0 !important;
}